.info{
    /* border: 1px solid red; */
    padding: 20px;
    background-color: gray;
    color: white;
    border-radius: 15px;
}
.box{
   margin-top: 200px !important;
}
 #info-img img{
    height: 200px !important;
    border-radius: 10px;
}